---
version: 2
interactions:
    - id: 0
      request:
        host: ci.concourse-ci.org
        form:
            limit:
                - "2"
        url: https://ci.concourse-ci.org/api/v1/teams/main/pipelines/concourse/builds?limit=2
        method: GET
      response:
        body: |-
            [
              {
                "api_url": "/api/v1/builds/562340543",
                "end_time": 1779665446,
                "id": 562340543,
                "job_name": "bosh-check-props",
                "name": "2668",
                "pipeline_id": 24,
                "pipeline_name": "concourse",
                "start_time": 1779665398,
                "status": "succeeded",
                "team_name": "main"
              },
              {
                "api_url": "/api/v1/builds/562340123",
                "end_time": 1779665252,
                "id": 562340123,
                "job_name": "k8s-check-helm-params",
                "name": "1627",
                "pipeline_id": 24,
                "pipeline_name": "concourse",
                "start_time": 1779665138,
                "status": "succeeded",
                "team_name": "main"
              }
            ]
        headers:
            Content-Type:
                - application/json
            Link:
                - <https://ci.concourse-ci.org/api/v1/teams/main/pipelines/concourse/builds?to=562340122&limit=2>; rel="next"
            X-Concourse-Version:
                - 8.2.2
        status: 200 OK
        code: 200
        duration: 1.701089291s
